# Per-directory ownership and automatic assignment for pull requests.

# IMPORTANT NOTES FOR CODEOWNERS:
#
# - If you will be unavailable for more than 24 hours, please replace your
#   ownership with a delegate, file an issue, and add a todo above the owner
#   line like so:
#
#     TODO(#ISSUE_NUMBER): Revert ownership to @USERNAME after YYYY-MM-DD.
#
#   (See oppia/#10250 for an example.) Please make sure to restore ownership after
#   the above date passes.

# Blanket codeowners
# This is for the case when new files are created in any directories that aren't
# covered as a whole, since in these cases, codeowners are not recognized for
# those files when reviewing, even if the PR does add it. Unless new
# files/folders are created in the following directories, these codeowners would
# be superseded by the relevant codeowners mentioned elsewhere in this file.
# (Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)

#####################################################################################
#                                 Blanket ownership                                 #
#####################################################################################

# Codeowners ownership (for adding/changing/removing code owners).
.github/CODEOWNERS @oppia/owners

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Gradle build files.
*.gradle @rt4914
gradle.properties @rt4914
gradlew @rt4914
gradlew.bat @rt4914
/gradle/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# GitHub configuration files.
.gitignore @rt4914
/.github/*.md @rt4914
/.github/ISSUE_TEMPLATE @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Git secret files & related configurations.
/.gitsecret/ @seanlip
*.secret @seanlip

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# CI configuration.
/.github/workflows/ @vinitamurthi

# All tests.
*Test.kt @anandwana001

# All resource files.
/app/src/main/res/**/*.xml @rt4914
/utility/src/main/res/**/*.xml @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Proguard configuration.
*.pro @rt4914

# TODO(#3164): Restore code ownership for @BenHenning after 2021-05-24.
# Lesson assets.
/domain/src/main/assets/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Android manifests and top-level app configuration.
*Manifest.xml @rt4914

# Linter configuration.
buf.yaml @anandwana001

# Third-party dependencies.
/third_party/ @BenHenning

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# IDEA IDE configuration.
.editorconfig @rt4914
/.idea/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Robolectric configuration.
*.properties @anandwana001

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Firebase configuration.
/app/google-services.json @vinitamurthi

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Binary files.
*.png @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Important codebase files.
LICENSE @seanlip
NOTICE @seanlip

#####################################################################################
#                                    app module                                     #
#####################################################################################

# Global app module code ownership.
/app/**/*.kt @rt4914
/app/**/*.java @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# State players.
/app/src/*/java/org/oppia/android/app/player/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Bindable adapter utilities.
/app/src/main/java/org/oppia/android/app/recyclerview/BindableAdapter.kt @rt4914
/app/src/main/java/org/oppia/android/app/recyclerview/RecyclerViewBindingAdapter.java @rt4914
/app/src/sharedTest/java/org/oppia/android/app/recyclerview/BindableAdapterTest.kt @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Dagger configuration.
/app/src/main/java/org/oppia/android/app/activity/ @rt4914
/app/src/main/java/org/oppia/android/app/application/ @rt4914
/app/src/main/java/org/oppia/android/app/fragment/ @rt4914
/app/src/main/java/org/oppia/android/app/view/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Databinding adapters.
/app/src/main/java/org/oppia/android/app/databinding/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# App deprecation functionality.
/app/src/*/java/org/oppia/android/app/deprecation/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Parsing functionality needed for interactions.
/app/src/*/java/org/oppia/android/app/parser/ @rt4914

# Bazel/data-binding shims.
/app/src/*/java/org/oppia/android/app/shim/ @BenHenning

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Splash screen.
/app/src/*/java/org/oppia/android/app/splash/ @rt4914

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# View model infrastructure.
/app/src/*/java/org/oppia/android/app/viewmodel/ @rt4914

# App testing infrastructure.
/app/src/*/java/org/oppia/android/app/testing/ @anandwana001

#####################################################################################
#                                  domain module                                    #
#####################################################################################

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Global domain module code ownership.
/domain/**/*.kt @vinitamurthi

# Questions support.
/domain/src/*/java/org/oppia/android/domain/question/ @vinitamurthi

# Oppia logging support.
/domain/src/main/java/org/oppia/android/domain/oppialogger/ @vinitamurthi

#####################################################################################
#                                  testing module                                   #
#####################################################################################

# TODO(#3164): Restore code ownership for @BenHenning after 2021-05-24.
# Global testing module code ownership.
/testing/**/*.kt @anandwana001

#####################################################################################
#                                    data module                                    #
#####################################################################################

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Global data module code ownership.
/data/**/*.kt @rt4914
/data/src/test/**/*.json @rt4914

#####################################################################################
#                                  utility module                                   #
#####################################################################################

# TODO(#3164): Restore code ownership to @BenHenning after 2021-05-24.
# Global utility module code ownership.
/utility/**/*.kt @anandwana001

# Accessibility utilities.
/utility/src/*/java/org/oppia/android/util/accessibility/ @rt4914

# Core logging infrastructure.
/utility/src/*/java/org/oppia/android/util/logging/ @vinitamurthi

# Miscellaneous statusbar UI utilities.
/utility/src/*/java/org/oppia/android/util/statusbar/ @rt4914

#####################################################################################
#                                     scripts                                       #
#####################################################################################

# TODO(#3164): Restore code ownership for @BenHenning after 2021-05-24.
# Global scripts code ownership.
/scripts/ @anandwana001

#####################################################################################
#                                      model                                        #
#####################################################################################

# TODO(#3164): Restore code ownership for @BenHenning after 2021-05-24.
# Global proto file ownership (for protos outside the model directory since all protos should belong in models).
*.proto @vinitamurthi

# TODO(#3164): Restore code ownership for @BenHenning after 2021-05-24.
# Global model ownership.
/model/ @vinitamurthi

#####################################################################################
#                                global overrides                                   #
#####################################################################################

# Bazel build files. This is added after everything else to ensure Bazel files are always reviewed by the same people.
WORKSPACE @BenHenning
*.bzl @BenHenning
*.bazel @BenHenning
.bazelrc @BenHenning
/tools/android/ @BenHenning
