# Configurations to ensure that Android-specific classes build correctly.
build --android_databinding_use_v3_4_args \
    --experimental_android_databinding_v2 \
    --android_databinding_use_androidx

# Ensure that all builds use the same JDK for building & running (for better hermeticity and fewer
# inconsistencies across environment configurations).
build --java_runtime_version=remotejdk_11 --tool_java_runtime_version=remotejdk_11

# Ensure all built Java files treat warnings as errors (similar to the Kotlin configuration) to help
# reduce code smell & potential bugs during development.
build --javacopt="-Werror"

# Note that this doesn't stop 'Werror' from being passed above, but that shouldn't affect most of
# the Oppia Android-specific build.
build:ignore_build_warnings --//tools/kotlin:warn_mode=warning

# Show all test output by default (for better debugging).
test --test_output=all

# Enable strict dependency checking for Java and protobuf.
build --strict_proto_deps=error \
    --experimental_strict_java_deps=error

# Custom configurations for the Kotlin toolchain.
build --flag_alias=kotlin_report_unused_deps=//third_party/tools/kotlin:report_unused_deps
build --flag_alias=kotlin_report_strict_deps=//third_party/tools/kotlin:report_strict_deps
build --flag_alias=kotlin_use_abi_jars=//third_party/tools/kotlin:use_abi_jars
build --flag_alias=nokotlin_use_abi_jars=no//third_party/tools/kotlin:use_abi_jars

# General build profiles for simplicity. For some of the options used here, see:
# https://bazel-docs-staging.netlify.app/versions/master/command-line-reference.html.
build:disable_ijars --nokotlin_use_abi_jars --nojava_header_compilation --nouse_ijars
build:only_check_for_failures --check_up_to_date --nobuild_runfile_links
build:ignore_deps_issues --kotlin_report_unused_deps=off --kotlin_report_strict_deps=off --strict_proto_deps=off --experimental_strict_java_deps=off
