*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml
app/build
data/build
domain/build
model/build
testing/build
utility/build
.DS_Store
/build
/captures
.externalNativeBuild
gradle
gradlew
gradlew.bat
.gitsecret/keys/random_seed
!*.secret
config/oppia-dev-workflow-remote-cache-credentials.json
bazel-*
