*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/vcs.xml
app/build
data/build
domain/build
model/build
testing/build
utility/build
.DS_Store
/build
/captures
.externalNativeBuild
gradle
gradlew
gradlew.bat
