# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
workflows:
  version: 2
  circleci_tests:
    jobs:
      - flaky_tests
      - non_flaky_tests

var_for_docker_image: &docker_image circleci/android:api-28

anchor_for_job_defaults: &job_defaults
  working_directory: ~/repo
  environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
  docker:
    - image: *docker_image

anchor_for_android_dependencies: &install_android_dependencies
  name: Install Android dependencies
  command: ./.circleci/gradle/gradlew androidDependencies

anchor_for_restore_cache: &restore_cache
  key: jars-{{ checksum "build.gradle" }}

version: 2
jobs:
  flaky_tests:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          <<: *restore_cache
      - run:
          <<: *install_android_dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}
      - run:
          name: App - Home, Player, Splash, Story, Testing, Topic tests
          command: ./.circleci/gradle/gradlew :app:testDebugUnitTest --tests org.oppia.app.home* --tests org.oppia.app.player* --tests org.oppia.app.splash* --tests org.oppia.app.story* --tests org.oppia.app.testing* --tests org.oppia.app.topic* 
      - run:
          name: Data tests
          command: ./.circleci/gradle/gradlew :data:test
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
  non_flaky_tests:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          <<: *restore_cache
      - run:
          <<: *install_android_dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}
      - run:
          name: App - Parser, RecyclerView, Utility tests
          command: ./.circleci/gradle/gradlew :app:testDebugUnitTest --tests org.oppia.app.parser* --tests org.oppia.app.recyclerview* --tests org.oppia.app.utility* 
      - run:
          name: Domain tests
          command: ./.circleci/gradle/gradlew :domain:test
      - run:
          name: Utility tests
          command: ./.circleci/gradle/gradlew :utility:test
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
