# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  # build:
  #   working_directory: ~/repo
  #   docker:
  #     # https://circleci.com/docs/2.0/language-android/
  #     - image: circleci/android:api-28
  #   environment:
  #     # Customize the JVM maximum heap limit
  #     JVM_OPTS: -Xmx3200m
  #     TERM: dumb
  #   steps:
  #     - checkout
  #     - restore_cache:
  #         key: jars-{{ checksum "build.gradle" }}
  #     - run: ./.circleci/gradle/gradlew androidDependencies
  #     - save_cache:
  #         paths:
  #           - ~/.gradle
  #         key: jars-{{ checksum "build.gradle" }}
  #     - run: ./.circleci/gradle/gradlew test
  #     - store_artifacts:
  #         path: app/build/reports
  #         destination: reports
  #     - store_test_results:
  #         path: app/build/test-results
  lint_tests:
    working_directory: ~/repo
    docker:
      # https://circleci.com/docs/2.0/language-android/
      - image: circleci/android:api-28
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}
      - run: ./.circleci/gradle/gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
  non_flaky_tests:
    working_directory: ~/repo
    docker:
      # https://circleci.com/docs/2.0/language-android/
      - image: circleci/android:api-28
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}
      - run: ./.circleci/gradle/gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}
      - run:
          name: Domain tests
          command: ./.circleci/gradle/gradlew :domain:test
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
