<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.oppia.app">
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:name=".application.OppiaApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/OppiaTheme">
    <activity android:name=".player.exploration.ExplorationActivity"/>
    <activity android:name=".topic.TopicActivity"/>
    <activity android:name="org.oppia.app.home.HomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name=".splash.SplashActivity"
              android:theme="@style/SplashScreenTheme">
    </activity>
    <activity android:name=".testing.BindableAdapterTestActivity"/>
  </application>
</manifest>
