<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.oppia.app">

  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:name=".application.OppiaApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/OppiaTheme">
    <activity android:name=".home.continueplaying.ContinuePlayingActivity" />
    <activity android:name=".testing.ContinuePlayingFragmentTestActivity" />
    <activity android:name=".home.HomeActivity" />
    <activity android:name=".player.audio.testing.AudioFragmentTestActivity" />
    <activity android:name=".testing.InputInteractionViewTestActivity" />
    <activity android:name=".story.StoryActivity"/>
    <activity android:name=".profile.AdminAuthActivity" />
    <activity android:name=".profile.AddProfileActivity" />
    <activity
      android:name=".profile.ProfileActivity"
      android:theme="@style/OppiaThemeWithoutActionBar"/>
    <activity
      android:name=".player.exploration.ExplorationActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".player.state.testing.StateFragmentTestActivity" />
    <activity
      android:name=".splash.SplashActivity"
      android:theme="@style/SplashScreenTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".story.testing.StoryFragmentTestActivity" />
    <activity android:name=".testing.BindableAdapterTestActivity" />
    <activity android:name=".testing.ContentCardTestActivity" />
    <activity android:name=".testing.HtmlParserTestActivity" />
    <activity
      android:name=".topic.TopicActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".topic.conceptcard.testing.ConceptCardFragmentTestActivity" />
    <activity android:name=".topic.questionplayer.QuestionPlayerActivity" />
  </application>
</manifest>
