<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.oppia.android">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- TODO(#56): Reenable landscape support. -->
  <application
    android:name=".app.application.dev.DeveloperOppiaApplication"
    android:allowBackup="true"
    android:icon="@mipmap/launcher_icon"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/OppiaTheme">
    <!-- NOTE TO DEVELOPER: You can enable debug logs for fast upload & better inspection in Firebase console using https://support.google.com/analytics/answer/7201382. -->
    <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
    <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
    <meta-data
      android:name="automatic_app_expiration_enabled"
      android:value="false" />
    <meta-data
      android:name="expiration_date"
      android:value="2020-09-01" />
    <activity
      android:name=".app.administratorcontrols.AdministratorControlsActivity"
      android:label="@string/administrator_controls_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.testing.AdministratorControlsFragmentTestActivity"
      android:label="@string/administrator_controls_fragment_test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.testing.SpotlightFragmentTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.administratorcontrols.appversion.AppVersionActivity"
      android:label="@string/app_version_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.administratorcontrols.learneranalytics.ProfileAndDeviceIdActivity"
      android:label="@string/profile_and_device_id_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar"/>
    <activity
      android:name=".app.completedstorylist.CompletedStoryListActivity"
      android:label="@string/completed_story_list_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.help.faq.FAQListActivity"
      android:label="@string/faq_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.help.faq.faqsingle.FAQSingleActivity"
      android:label="@string/faq_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.help.HelpActivity"
      android:label="@string/help_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.help.thirdparty.LicenseListActivity"
      android:label="@string/license_list_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.help.thirdparty.LicenseTextViewerActivity"
      android:label="@string/license_text_viewer_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.help.thirdparty.ThirdPartyDependencyListActivity"
      android:label="@string/third_party_dependency_list_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.home.HomeActivity"
      android:label="@string/home_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.home.recentlyplayed.RecentlyPlayedActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.mydownloads.MyDownloadsActivity"
      android:label="@string/my_downloads_activity_title"
      android:screenOrientation="portrait"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.notice.testing.BetaNoticeDialogFragmentTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.notice.testing.GeneralAvailabilityUpgradeNoticeDialogFragmentTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.notice.testing.ForcedAppDeprecationNoticeDialogFragmentTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.notice.testing.OptionalAppDeprecationNoticeDialogFragmentTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.notice.testing.OsDeprecationNoticeDialogFragmentTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.onboarding.OnboardingActivity"
      android:label="@string/onboarding_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.ongoingtopiclist.OngoingTopicListActivity"
      android:label="@string/ongoing_topic_list_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.options.AppLanguageActivity"
      android:label="@string/app_language_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.options.AudioLanguageActivity"
      android:label="@string/audio_language_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.options.OptionsActivity"
      android:label="@string/options_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.options.ReadingTextSizeActivity"
      android:label="@string/reading_text_size_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.player.exploration.ExplorationActivity"
      android:label="@string/exploration_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".app.player.exploration.testing.BottomSheetOptionsMenuTestActivity"
      android:label="@string/test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.player.state.testing.StateFragmentTestActivity" />
    <activity
      android:name=".app.profile.AddProfileActivity"
      android:label="@string/add_profile_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBarColorAccentColorPrimary" />
    <activity
      android:name=".app.profile.AdminAuthActivity"
      android:label="@string/admin_auth_activity_access_controls_title"
      android:theme="@style/OppiaThemeWithoutActionBar"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".app.profile.AdminPinActivity"
      android:label="@string/admin_pin_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".app.profile.PinPasswordActivity"
      android:label="@string/pin_password_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".app.profile.ProfileChooserActivity"
      android:label="@string/profile_chooser_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.profileprogress.ProfilePictureActivity"
      android:label="@string/profile_picture_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.profileprogress.ProfileProgressActivity"
      android:label="@string/profile_progress_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.settings.profile.ProfileEditActivity"
      android:label="@string/profile_edit_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.settings.profile.ProfileListActivity"
      android:label="@string/profile_list_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.settings.profile.ProfileRenameActivity"
      android:label="@string/profile_rename_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.settings.profile.ProfileResetPinActivity"
      android:label="@string/profile_reset_pin_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.splash.SplashActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:theme="@style/SplashScreenTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name=".app.story.StoryActivity"
      android:label="@string/story_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.testing.AppCompatCheckBoxBindingAdaptersTestActivity" />
    <activity android:name=".app.testing.AudioFragmentTestActivity" />
    <activity android:name=".app.testing.BindableAdapterTestActivity" />
    <activity android:name=".app.testing.CircularProgressIndicatorAdaptersTestActivity" />
    <activity android:name=".app.testing.ConceptCardFragmentTestActivity" />
    <activity android:name=".app.testing.DragDropTestActivity" />
    <activity android:name=".app.testing.DrawableBindingAdaptersTestActivity" />
    <activity android:name=".app.testing.ExplorationInjectionActivity" />
    <activity android:name=".app.testing.ExplorationTestActivity" />
    <activity android:name=".app.testing.FractionInputInteractionViewTestActivity" />
    <activity android:name=".app.testing.TextInputInteractionViewTestActivity" />
    <activity
      android:name=".app.testing.TestFontScaleConfigurationUtilActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.testing.HomeFragmentTestActivity" />
    <activity android:name=".app.testing.HtmlParserTestActivity" />
    <activity android:name=".app.testing.HomeTestActivity" />
    <activity android:name=".app.testing.InputInteractionViewTestActivity" />
    <activity android:name=".app.testing.RatioInputInteractionViewTestActivity" />
    <activity android:name=".app.testing.ImageRegionSelectionTestActivity" />
    <activity android:name=".app.testing.MathExpressionInteractionsViewTestActivity" />
    <activity android:name=".app.testing.ImageViewBindingAdaptersTestActivity" />
    <activity android:name=".app.testing.ListItemLeadingMarginSpanTestActivity" />
    <activity android:name=".app.testing.MarginBindingAdaptersTestActivity" />
    <activity
      android:name=".app.testing.NavigationDrawerTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.testing.PoliciesFragmentTestActivity" />
    <activity
      android:name=".app.testing.ProfileChooserFragmentTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.testing.ProfileEditFragmentTestActivity"
      android:label="@string/profile_edit_fragment_test_activity_label"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.testing.StateAssemblerMarginBindingAdaptersTestActivity" />
    <activity android:name=".app.testing.StateAssemblerPaddingBindingAdaptersTestActivity" />
    <activity android:name=".app.testing.TextViewBindingAdaptersTestActivity" />
    <activity
      android:name=".app.testing.TopicTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.testing.TopicTestActivityForStory"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.testing.TopicRevisionTestActivity" />
    <activity android:name=".app.testing.ViewBindingAdaptersTestActivity" />
    <activity
      android:name=".app.topic.questionplayer.QuestionPlayerActivity"
      android:label="@string/question_player_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.topic.revisioncard.RevisionCardActivity"
      android:label="@string/revision_card_activity_title"
      android:theme="@style/RevisionCardActivityTheme" />
    <activity android:name=".app.testing.SplashTestActivity" />
    <activity
      android:name=".app.topic.TopicActivity"
      android:label="@string/topic_page"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.walkthrough.WalkthroughActivity"
      android:label="@string/walkthrough_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.testing.LessonThumbnailImageViewTestActivity" />
    <activity
      android:name=".app.devoptions.DeveloperOptionsActivity"
      android:label="@string/developer_options_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.testing.DeveloperOptionsTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.markchapterscompleted.MarkChaptersCompletedActivity"
      android:label="@string/mark_chapters_completed_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.markchapterscompleted.testing.MarkChaptersCompletedTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.markstoriescompleted.MarkStoriesCompletedActivity"
      android:label="@string/mark_stories_completed_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.markstoriescompleted.testing.MarkStoriesCompletedTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.marktopicscompleted.MarkTopicsCompletedActivity"
      android:label="@string/mark_topics_completed_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.marktopicscompleted.testing.MarkTopicsCompletedTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.vieweventlogs.ViewEventLogsActivity"
      android:label="@string/view_event_logs_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.vieweventlogs.testing.ViewEventLogsTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.forcenetworktype.ForceNetworkTypeActivity"
      android:label="@string/force_network_type_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.forcenetworktype.testing.ForceNetworkTypeTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity android:name=".app.policies.PoliciesActivity"
      android:label="@string/policy_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.devoptions.mathexpressionparser.MathExpressionParserActivity"
      android:label="@string/math_expression_parser_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.resumelesson.ResumeLessonActivity"
      android:label="@string/resume_lesson_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.testing.activity.TestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.survey.SurveyActivity"
      android:label="@string/survey_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar"
      android:windowSoftInputMode="adjustNothing" />
    <activity
      android:name=".app.testing.ColorBindingAdaptersTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.classroom.ClassroomListActivity"
      android:label="@string/classroom_list_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.onboarding.OnboardingProfileTypeActivity"
      android:label="@string/onboarding_profile_type_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.onboarding.CreateProfileActivity"
      android:label="@string/create_profile_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.onboarding.IntroActivity"
      android:label="@string/onboarding_learner_intro_activity_title"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <activity
      android:name=".app.testing.TextInputLayoutBindingAdaptersTestActivity"
      android:theme="@style/OppiaThemeWithoutActionBar" />
    <provider
      android:name="androidx.work.impl.WorkManagerInitializer"
      android:authorities="${applicationId}.workmanager-init"
      android:exported="false"
      tools:node="remove" />
    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      tools:node="remove" />
  </application>
</manifest>
