<?xmxl version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.bazel.test">
  <uses-sdk
    android:minSdkVersion="19"
    android:targetSdkVersion="29" />
  <instrumentation
    android:targetPackage="com.example.bazel"
    android:name="androidx.test.runner.AndroidJUnitRunner" />
  <application android:label="OppiaTest" />
</manifest>
