# Contains jobs corresponding to static checks (such as syntax correctness & prohibited patterns).

name: Static Checks

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:    
      - develop
      
jobs:
  check_codeowners:
    name: Check CODEOWNERS & Repository files
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - uses: mszostok/codeowners-validator@v0.5.1
        with:
          checks: "duppatterns,files,syntax"
          experimental_checks: "notowned"

  check_base_branch:
    name: Check base branch
    runs-on: ubuntu-18.04
    if: github.event_name == 'pull_request'
    steps:
      - name: "Branch is not based on develop or release branch"
        if: ${{ github.base_ref != 'develop' && !startsWith(github.base_ref, 'release-') }}
        run: |
          echo "Current base branch: $BASE_BRANCH"
          echo "Note: this check is expected to fail for chained PRs so that they can't accidentally be merged. PRs should only ever be merged directly into develop or a release branch."
          exit 1
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: "Branch verified as based on develop/release branch"
        if: ${{ github.base_ref == 'develop' || startsWith(github.base_ref, 'release-') }}
        run: |
          echo "Branch is correctly branched off of valid base branch to merge PRs into: $BASE_BRANCH"
        env:
          BASE_BRANCH: ${{ github.base_ref }}

  linters:
    name: Lint Tests
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Create oppia android tools directory
        run: mkdir -p $HOME/oppia-android-tools

      # Java 11 is specifically needed for Checkstyle.
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Download Checkstyle
        run: |
          cd $HOME/oppia-android-tools
          bash /home/runner/work/oppia-android/oppia-android/scripts/checkstyle_download.sh

      - name: Download Ktlint
        run: |
          cd $HOME/oppia-android-tools
          bash /home/runner/work/oppia-android/oppia-android/scripts/ktlint_download.sh

      - name: Download Buf
        run: |
          cd $HOME/oppia-android-tools
          bash /home/runner/work/oppia-android/oppia-android/scripts/buf_download.sh

      - name: Download Buildifier
        run: |
          cd $HOME/oppia-android-tools
          bash /home/runner/work/oppia-android/oppia-android/scripts/buildifier_download.sh

      - name: Java lint check
        run: |
          bash /home/runner/work/oppia-android/oppia-android/scripts/checkstyle_lint_check.sh $HOME

      - name: Kotlin lint check
        run: |
          bash /home/runner/work/oppia-android/oppia-android/scripts/ktlint_lint_check.sh $HOME

      - name: Protobuf lint check
        run: |
          bash /home/runner/work/oppia-android/oppia-android/scripts/buf_lint_check.sh $HOME

      - name: Bazel lint check
        run: |
          bash /home/runner/work/oppia-android/oppia-android/scripts/buildifier_lint_check.sh $HOME

  script_checks:
    name: Script Checks
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 4.0.0

      - name: Regex Patterns Validation Check
        if: always()
        run: |
          bazel run //scripts:regex_pattern_validation_check -- $(pwd)

      - name: XML Syntax Validation Check
        if: always()
        run: |
          bazel run //scripts:xml_syntax_check -- $(pwd)

      - name: Testfile Presence Check
        if: always()
        run: |
          bazel run //scripts:test_file_check -- $(pwd)

      - name: Accessibility label Check
        if: always()
        run: |
          bazel run //scripts:accessibility_label_check -- $(pwd) app/src/main/AndroidManifest.xml

      - name: KDoc Check
        if: always()
        run: |
          bazel run //scripts:kdoc_check -- $(pwd)

      - name: Todo Check
        if: always()
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh issue list --limit 2000 --repo oppia/oppia-android --json number > $(pwd)/open_issues.json
          bazel run //scripts:todo_check -- $(pwd)
